body {
    font-family: "Lucida Console";
    font-weight: 9;
    color: rgb(238, 255, 0);
    
    background: linear-gradient(
        45deg,
        hsl(22, 74%, 71%) 10%,
        hsl(90, 80%, 70%) 50%,
        hsl(180, 90%, 80%) 100%,
    );
}

.gameBox {
    position: relative;
    background-color: aqua;
    border: 3vh solid rgba(250, 242, 200, 0.8);
    border-radius: 17vh 17vh 17vh 17vh / 14vh 14vh 14vh 14vh;
    box-shadow: -.5vh -.5vh 2vh -.2vh blue inset,
        .6vh .6vh .7vh .2vh wheat,
        0 0 1.5vh -.5vh wheat;
}

.logo {
    text-shadow: .5vh .5vh 1vh rgb(30, 30, 250);
    text-shadow: -.5vh -.5vh 1vh rgb(250, 30, 100);
}

.menu {
    border: 1vh solid rgb(80, 200, 150);
    box-shadow: -1 1 1vh rgb(62, 131, 6);
}